---

---

<li>
    <a
        href="https://github.com/RArroyo00"
        class="hover:text-secondary/80 text-secondary">GitHub</a
    >
</li><li>
    <a
        href="https://instagram.com/rulo_coffn"
        class="hover:text-secondary/80 text-secondary">Instagram</a
    >
</li>
<li>
    <a
        href="https://linkedin.com/in/raul-ae"
        class="hover:text-secondary/80 text-secondary">LinkedIn</a
    >
</li><li>
    <a
        href="mailto:isc.rarroyo@gmail.com"
        class="hover:text-secondary/80 text-secondary">Email</a
    >
</li>
