---
import Contact from "./Contact.astro";
---

<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become full width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <svg
      class="text-secondary"
      viewBox="0 0 432.606 64.507"
      xmlns="http://www.w3.org/2000/svg"
      ><g
        id="svgGroup"
        stroke-linecap="round"
        fill-rule="nonzero"
        font-size="9pt"
        stroke="currentColor"
        stroke-width="2"
        fill="currentColor"
        style="stroke:currentColor;stroke-width:2;fill:currentColor"
        ><path
          d="M 13.05 53.257 L 0 53.257 L 0 0.007 L 24.375 0.007 Q 30.3 0.007 34.688 1.957 Q 39.075 3.907 41.475 7.469 Q 43.875 11.032 43.875 15.832 Q 43.875 19.582 42.375 22.432 Q 40.875 25.282 38.213 27.119 Q 35.55 28.957 31.875 29.557 L 31.65 28.807 A 14.593 14.593 0 0 1 38.633 30.254 A 8.155 8.155 0 0 1 39.937 31.132 Q 42.75 33.457 43.05 38.107 L 44.325 53.257 L 30.975 53.257 L 30.15 40.282 Q 29.925 37.282 28.387 35.857 Q 26.85 34.432 23.025 34.432 L 13.05 34.432 L 13.05 53.257 Z M 13.05 10.657 L 13.05 23.782 L 22.35 23.782 Q 26.325 23.782 28.425 22.057 Q 30.525 20.332 30.525 17.182 Q 30.525 13.957 28.387 12.307 A 9.765 9.765 0 0 0 22.451 10.658 A 19.448 19.448 0 0 0 22.2 10.657 L 13.05 10.657 Z M 97.05 38.932 L 97.05 12.907 L 109.95 12.907 L 109.95 35.932 A 14.668 14.668 0 0 0 110.72 41.23 A 5.624 5.624 0 0 0 111.188 42.157 Q 112.425 44.107 115.125 44.107 Q 118.125 44.107 119.738 41.969 A 9.792 9.792 0 0 0 121.31 36.643 A 22.838 22.838 0 0 0 121.35 35.257 L 121.35 12.907 L 134.25 12.907 L 134.25 53.257 L 122.625 53.257 L 122.25 41.107 L 123.75 41.332 Q 123 47.782 119.625 50.969 Q 116.25 54.157 110.325 54.157 Q 104.025 54.157 100.538 50.144 A 15.387 15.387 0 0 1 97.119 40.893 A 27.091 27.091 0 0 1 97.05 38.932 Z M 361.575 64.507 L 353.1 64.507 L 353.1 55.207 L 358.65 55.207 Q 360.525 55.207 361.425 54.644 Q 362.325 54.082 362.85 52.657 L 363.525 50.857 L 360.15 50.857 L 346.125 12.907 L 359.175 12.907 L 367.5 38.707 L 375.3 12.907 L 388.275 12.907 L 373.05 56.632 A 12.099 12.099 0 0 1 369.169 62.532 A 7.652 7.652 0 0 1 368.925 62.707 A 12.256 12.256 0 0 1 362.3 64.496 A 23.544 23.544 0 0 1 361.575 64.507 Z M 63.375 30.607 L 75.9 28.057 Q 75.9 24.532 74.363 22.694 Q 72.825 20.857 69.975 20.857 Q 67.125 20.857 65.513 22.244 Q 63.9 23.632 63.45 26.182 L 50.55 25.732 Q 51.75 18.757 56.775 15.382 A 21.256 21.256 0 0 1 67.02 12.125 A 35.554 35.554 0 0 1 69.975 12.007 A 27.196 27.196 0 0 1 79.205 13.397 A 14.516 14.516 0 0 1 84.112 16.282 A 15.074 15.074 0 0 1 88.674 26.364 A 27.154 27.154 0 0 1 88.8 29.032 L 88.8 41.782 Q 88.8 43.657 89.438 44.257 Q 90.075 44.857 91.2 44.857 L 92.175 44.857 L 92.175 53.257 Q 91.575 53.482 90.225 53.632 Q 88.875 53.782 87.6 53.782 Q 85.275 53.782 83.1 52.994 Q 80.925 52.207 79.5 50.144 Q 78.075 48.082 78.075 44.182 L 79.05 45.157 Q 78.3 47.857 76.388 49.919 Q 74.475 51.982 71.475 53.069 Q 68.475 54.157 64.275 54.157 A 17.375 17.375 0 0 1 54.116 51.367 A 13.545 13.545 0 0 1 53.925 51.232 Q 49.875 48.307 49.875 43.132 Q 49.875 37.807 53.325 34.882 Q 56.775 31.957 63.375 30.607 Z M 75.9 37.282 L 75.9 35.632 L 68.1 37.432 Q 65.775 37.957 64.463 39.044 Q 63.15 40.132 63.15 41.932 Q 63.15 43.732 64.275 44.744 Q 65.4 45.757 67.65 45.757 Q 70.05 45.757 71.925 44.782 Q 73.8 43.807 74.85 41.932 Q 75.9 40.057 75.9 37.282 Z M 198.225 53.257 L 184.875 53.257 L 204.075 0.007 L 219.225 0.007 L 238.425 53.257 L 225 53.257 L 221.55 43.207 L 201.75 43.207 L 198.225 53.257 Z M 211.725 14.107 L 205.275 32.857 L 218.025 32.857 L 211.725 14.107 Z M 255.75 53.257 L 242.85 53.257 L 242.85 12.907 L 255.225 12.907 L 255.675 25.132 L 254.7 24.982 A 25.098 25.098 0 0 1 256.69 18.086 A 10.604 10.604 0 0 1 258.225 15.719 Q 260.7 12.907 265.125 12.907 L 268.65 12.907 L 268.65 23.332 L 265.05 23.332 Q 261.825 23.332 259.8 24.082 Q 257.775 24.832 256.762 26.519 Q 255.75 28.207 255.75 31.132 L 255.75 53.257 Z M 286.95 53.257 L 274.05 53.257 L 274.05 12.907 L 286.425 12.907 L 286.875 25.132 L 285.9 24.982 A 25.098 25.098 0 0 1 287.89 18.086 A 10.604 10.604 0 0 1 289.425 15.719 Q 291.9 12.907 296.325 12.907 L 299.85 12.907 L 299.85 23.332 L 296.25 23.332 Q 293.025 23.332 291 24.082 Q 288.975 24.832 287.963 26.519 Q 286.95 28.207 286.95 31.132 L 286.95 53.257 Z M 162.225 53.257 L 154.8 53.257 A 12.528 12.528 0 0 1 146.883 50.962 A 9.032 9.032 0 0 1 146.4 50.557 A 10.005 10.005 0 0 1 143.489 43.77 A 21.308 21.308 0 0 1 143.4 41.782 L 143.4 0.007 L 156.3 0.007 L 156.3 40.357 Q 156.3 42.307 157.2 43.132 Q 158.1 43.957 159.75 43.957 L 162.225 43.957 L 162.225 53.257 Z M 323.25 54.157 Q 316.875 54.157 312.112 51.532 Q 307.35 48.907 304.687 44.182 Q 302.025 39.457 302.025 33.082 Q 302.025 26.707 304.687 21.982 Q 307.35 17.257 312.112 14.632 Q 316.875 12.007 323.25 12.007 Q 329.625 12.007 334.35 14.632 Q 339.075 17.257 341.737 21.982 Q 344.4 26.707 344.4 33.082 Q 344.4 39.457 341.737 44.182 Q 339.075 48.907 334.35 51.532 Q 329.625 54.157 323.25 54.157 Z M 323.25 44.632 Q 327 44.632 329.062 41.632 A 13.509 13.509 0 0 0 331.075 34.754 A 26.801 26.801 0 0 0 331.125 33.082 A 16.892 16.892 0 0 0 329.763 25.794 A 9.449 9.449 0 0 0 329.062 24.569 Q 327 21.532 323.25 21.532 Q 319.425 21.532 317.362 24.569 A 13.744 13.744 0 0 0 315.341 31.59 A 26.45 26.45 0 0 0 315.3 33.082 A 17.33 17.33 0 0 0 316.559 40.197 A 9.291 9.291 0 0 0 317.362 41.632 Q 319.425 44.632 323.25 44.632 Z M 411.45 54.157 Q 405.075 54.157 400.313 51.532 Q 395.55 48.907 392.888 44.182 Q 390.225 39.457 390.225 33.082 Q 390.225 26.707 392.888 21.982 Q 395.55 17.257 400.313 14.632 Q 405.075 12.007 411.45 12.007 Q 417.825 12.007 422.55 14.632 Q 427.275 17.257 429.938 21.982 Q 432.6 26.707 432.6 33.082 Q 432.6 39.457 429.938 44.182 Q 427.275 48.907 422.55 51.532 Q 417.825 54.157 411.45 54.157 Z M 411.45 44.632 Q 415.2 44.632 417.263 41.632 A 13.509 13.509 0 0 0 419.275 34.754 A 26.801 26.801 0 0 0 419.325 33.082 A 16.892 16.892 0 0 0 417.963 25.794 A 9.449 9.449 0 0 0 417.262 24.569 Q 415.2 21.532 411.45 21.532 Q 407.625 21.532 405.563 24.569 A 13.744 13.744 0 0 0 403.541 31.59 A 26.45 26.45 0 0 0 403.5 33.082 A 17.33 17.33 0 0 0 404.759 40.197 A 9.291 9.291 0 0 0 405.562 41.632 Q 407.625 44.632 411.45 44.632 Z M 180.975 53.257 L 167.475 53.257 L 167.475 40.732 L 180.975 40.732 L 180.975 53.257 Z"
        ></path></g
      ></svg
    >
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Software Engineer</span>
            <span class="font-bold">Front end dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul
            class="lg:items-center flex justify-between w-full gap-3 relative text-xs"
          >
            <Contact />
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
