---
import { testimonials } from "../../data/testimonials.json";
import { calculateAosDuration } from "../../utils/aos";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="space-y-2">
      <!-- Section Title and Decorative Elements -->
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <h3
        class="text-secondary text-base font-medium"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <span>Human</span>
        <span class="font-bold">opinions</span>
      </h3>
    </div>
    <div class="flex flex-col text-secondary pt-2 mt-2 gap-12 lg:gap-2">
      {
        testimonials.map((opinion, index) => (
          <div
            data-aos="fade-up"
            data-aos-duration={calculateAosDuration(index)}
            class="grid grid-cols-1 lg:items-end lg:grid-cols-4 py-4 gap-4"
          >
            <p class="text-xl  lg:col-span-3 lg:text-2xl  indent-24 lg:indent-24 text-right">
              {opinion.opinion}
            </p>
            <p class="italic text-xs block ">
              {opinion.name} {opinion.role}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
