---
import GlobeComponent from "../GlobeComponent";
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto py-6">
        <div class="space-y-2">
            <!-- Section Title and Decorative Elements -->
            <div
                class="h-0.5 bg-secondary"
                data-aos="fade-up"
                data-aos-duration="1000"
            >
            </div>
            <h3
                class="text-secondary text-base font-medium"
                data-aos="fade-up"
                data-aos-duration="1500"
            >
                <span>Countries</span>
                <span class="font-bold">explored</span>
            </h3>
        </div>
        <div class="w-full max-w-lg"  data-aos="fade-up"
         data-aos-delay="50"
                data-aos-duration="2000">
            <GlobeComponent client:load />
        </div>
    </div>
</section>
